<template>
  
<!-- APP START -->
<v-app id="inspire" dark>
    <v-navigation-drawer
      v-model="drawer"
      clipped
      fixed
      app
    >
<!-- SIDE NAV START -->
      <v-list dense>
           <div class="pp">
          <v-card color="grey" class="m">
            <div>
              <v-text-field label="Set Score" block v-model="scoreInput" type="number"></v-text-field>
              <v-btn v-bind:disabled="scoreInput === ''" color="success" block @click="submitScore()">Submit Score</v-btn>
            </div>
          </v-card>
        <v-card color="grey" class="m">
          <div>
            <v-text-field label="Set Name" block v-model="nameInput" type="text"></v-text-field>
            <v-btn v-bind:disabled="nameInput === ''" color="success" block @click="submitName()">Submit Name</v-btn>
          </div>
        </v-card>
         <v-card color="grey" class="m">
          <div>
            <v-text-field label="Set HighScore" block type="number" v-model="highScoreInput"></v-text-field>
            <v-btn v-bind:disabled="highScoreInput ===''" color="success" block @click="submitHighScore()">Submit HighScore</v-btn>
          </div>
         </v-card>
          <v-card color="grey" class="m">
          <div>
            <v-text-field label="Set Overall HighScore" block type="number" v-model="overallHighScoreInput"></v-text-field>
            <v-btn v-bind:disabled="overallHighScoreInput ===''" color="success" block @click="submitOverallHighScore()">Submit OverallHighScore</v-btn>
          </div>
         </v-card>
          <v-card color="grey" class="m">
             <v-btn color="success" block @click="setGame1">Hockey Passer</v-btn>
             <v-btn color="success" block @click="setGame2">Air Hockey</v-btn>
             <v-btn color="success" block @click="setGame3">Infinity Player</v-btn>
          </v-card>
         </div>
      </v-list>
    </v-navigation-drawer>
<!-- SIDE NAV END -->

<!-- NAVIGATION START -->
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      
      <v-toolbar-title><a href="http://dings.solutions"><img style="padding: 10px 10px 0px 0px;width: 100px" src="../assets/logo-dings.png" alt=""></a></v-toolbar-title>
      <v-divider></v-divider>
      <div class="pp">
        <strong>Score: {{Score}}</strong>
      </div>
      <div class="pp">
        <strong>UserName: {{UserName}}</strong>
      </div>
      <div class="pp">
        <strong>HighScore: {{HighScore}}</strong>
      </div>
      <div class="pp">
        <strong>OverallHighScore: {{OverallHighScore}}</strong>
      </div>
    </v-toolbar>
<!-- NAVIGATION END -->

<!-- GAME CONTAINER START -->
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center class="layout">
          <div class="container">
            <iframe crossorigin="anonymous" id="game-iframe" :src="gameSrc" frameborder="0" height="100%" width="100%"></iframe>
          </div>
        </v-layout>
      </v-container>
    </v-content>
<!-- GAME CONTAINER END -->

<!-- FOOTER START  -->
    <v-footer app fixed>
      <span>&copy; <a href="http://dings.solutions">Dings 2019</a></span>
    </v-footer>
  </v-app>
<!-- FOOTER END -->

<!-- APP END -->

</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

// SNIPPET FROM GAME WHEN SENDING TO FRONTEND (SEND TO FRONTEND BUTTON CLICK)
// "javascript:parent.postMessage({message:'Initialize',payload:{Score:" & Score &", HighScore:" & HighScore &", UserName:" & UserName & "}}, '*')"

export default {
  // eslint-disable-next-line
  /* eslint-disable */
  name: "home",
  components: {
    // HelloWorld
  },
  data() {
    return {
      Score: 0,
      HighScore: 11,
      UserName: "User",
      OverallHighScore: 15,
      scoreInput: '',
      nameInput: '',
      highScoreInput: '',
      overallHighScoreInput: '',
      drawer: null,
      gameSrc: "https://appstract.000webhostapp.com/chlgame-demo-2/"
    };
  },
  props:{
    source: String
  },
  created() {
    // THIS IS WHERE WE ADD EVENT LISTENER WHEN WE GO TO THIS SPECIFIC PAGE
    window.addEventListener("message", this.processMessage);
    console.log('Add event listener', this.processMessage);
   
  },
  destroyed() {
    // IT IS IMPORTANT TO REMOVE LISTENER WHEN WE RE-ROUTE OR WHEN COMPONENT/PAGE IS DESTROYED
    window.removeEventListener('message', this.processMessage);
    console.log('Removed event listener', this.processMessage);
  },
  methods: {
    // HERE WE WILL SEE ALL DATA THAT GAME SENT TO THE FRONTEND
    processMessage: function(e) {
      // if (e.data.message === "Initialize") {
      //   console.log("this is madness");

      //   if (e.data.payload.OpponentPoints === 4) {
      //     console.log("this is sparda");
      //   }
      // }
      if(e.data.message === "EndGame"){
        console.log(e.data);
        // HERE WE SIMPLY SET VALUES
        this.UserName = e.data.payload.UserName;
        this.Score = e.data.payload.Score;
        this.HighScore = e.data.payload.HighScore;
        // this.OverallHighScore = e.data.payload.OverallHighScore;
        }
        //HERE WE CHECK WHEN GAME SEND SIGNAL TO FRONTEND AND THEN FRONTEND IS INITIALIZING VALUES
      if(e.data.message === "Signal"){
           document.getElementById("game-iframe").contentWindow.postMessage({
      message: 'Signal',
      payload: {
        Score: this.Score,
        HighScore: this.HighScore,
        UserName: this.UserName.toUpperCase(),
        OverallHighScore: this.OverallHighScore
      }
    }, '*');
        }
    },
    submitScore: function(scoreInput){

      console.log(this.scoreInput);
   
      document.getElementById("game-iframe").contentWindow.postMessage({
        message: 'playerScore',
        payload:{
          Score: this.scoreInput
        }
      }, '*');
      this.Score = this.scoreInput;
    },
    submitName: function(nameInput){

      console.log(this.nameInput);

      document.getElementById("game-iframe").contentWindow.postMessage({
        message: 'playerName',
        payload:{
          UserName: this.nameInput
        }
      }, '*');
      this.UserName = this.nameInput;
    },
    submitHighScore: function(highScoreInput){

      console.log(this.highScoreInput);

      document.getElementById("game-iframe").contentWindow.postMessage({
        message: 'playerHighScore',
        payload:{
          HighScore: this.highScoreInput
        }
      },'*');
      this.HighScore = this.highScoreInput;
    },
    submitOverallHighScore: function(OverallHighScore){

      console.log(this.overallHighScoreInput);

      document.getElementById("game-iframe").contentWindow.postMessage({
        message: 'playerOverallHighScore',
        payload:{
          OverallHighScore: this.overallHighScoreInput
        }
      },'*');
      this.OverallHighScore = this.overallHighScoreInput;
    },
    setGame1: function(){
      // document.getElementById("game-iframe").setAttribute('src', game1Src);
      this.gameSrc = "https://appstract.000webhostapp.com/chlgame-demo-2/";
    },
      setGame2: function(){
      // document.getElementById("game-iframe").setAttribute('src', game1Src);
      this.gameSrc = "https://appstract.000webhostapp.com/chl-airhockey/";
    },
      setGame3: function(){
      // document.getElementById("game-iframe").setAttribute('src', game1Src);
      this.gameSrc = "https://appstract.000webhostapp.com/chl-infinite/";
    }
  }
};
</script>


<style scoped>

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0px;
}

.pp{
  padding: 0px 10px 0px 10px;
}

.p{
  padding: 10px;
}

.m{
  margin: 10px;
}
a{
  text-decoration: none;
  color: #84C8E6;
}
.layout{
  background-color: #323241;
}

</style>

